<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.id %}
	<title>{{ page.title }} | {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}
  {% seo %}
  <style type="text/css">
  {% capture include_to_scssify %}
    {% include styles.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
  <script defer src="https://cloud.umami.is/script.js" data-website-id="ea01c721-04db-4c01-9a97-ae88acb7ea7e"></script>

</head>
