// Gray
$gray-1: #f9f9f9;
$gray-2: #efefef;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;
$black: #000;

$font-family: monospace;

$color-initial: #fff !default;
$color-primary: $blue;
$color-secondary: #606c76;
$color-gray: #8f9aa3;

$color-tertiary: #E6C700 !default;
$color-quaternary: #E61F00 !default;

$first-breakpoint: 38em;
$second-breakpoint: 64em;
$third-breakpoint: 75em;
